NEXT_PUBLIC_SUPABASE_URL=https://daanvkdbopwfvbubxcgk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhYW52a2Rib3B3ZnZidWJ4Y2drIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzExOTc2OTIsImV4cCI6MTk4Njc3MzY5Mn0.Es8RfOi-Cr1TDgwpViubdJ0tA-L6nQvKFvBjOBqLnbg